#srmjumbo{
    background-image: url(../images/srm-head.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #ffffff;
}

/* #srmjumbo-text-bg{
    background-color: rgba(0, 0, 0, 0.8);
} */

/* #srmjumbo-text{
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 1rem;
    padding: 2rem 2rem;
    word-wrap: break-word;
} */

/* #top-jumbo-srm{
    width: 100%;
    height: fit-content;
} */

nav{
    background-color: #000000;
}

/* #carousel-container{
    padding-top:4.5rem;
} */


.carousel-user{
    margin: auto;
    width: 100%;
}

.carousel-cap{
    background: #031c5f83;
}

.carousel-cap h1{
    margin-left:auto;
    margin-right:auto;
    /* margin-bottom: 13px;  */
    /* width: 50%; */
    /* text-align: justify; */
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
}

.carousel-cap p{
    margin:auto;
    /* width: 50%; */
    /* text-align: justify; */
}

#aadhar-img{
    background-image: url(../images/aadhar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
}

#harshit-img{
    background-image: url(../images/harshit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13rem 13rem;
    background-color: #ffffff;
}

#jivesh-img{
    background-image: url(../images/jivesh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
}

.aboutimg{
    width: auto;
}

#project-row{
    margin-top: 8rem;
}

.card{
    cursor: pointer;
}

#page-footer{
    background-image: url(../images/anime-444.gif);
    background-position: center;
    background-size: contain;
}